--extra-index-url https://download.pytorch.org/whl/cu126

uvicorn
uvicorn[standard]
faster_whisper
fastapi
transformers
pydantic_settings
faster_qwen3_tts
soundfile
deepfilternet
torch
torchvision
torchaudio